section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    background-image: url('./../../../assets/img/section_our_menu_bg.jpg');
}

h2 {
    font-size: 48px;
}

.element {
    display: flex;
    flex-direction: row;
    gap: 48px;
    >img {
        width: 200px;
        height: 200px;
    }
}

.bsp_for_food{
    display: flex;
    flex-direction: column;
    gap: 32px;
    >table {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    tr {
        display: flex;
        justify-content: space-between;
        gap: 64px;
    }
}